service: schedule-clean

frameworkVersion: ">=1.0.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs4.3
  stage: dev
  region: eu-central-1
  environment:
    MONGO_DB_URI: ${file(config.yml):mongoDBUri}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:GetObject
      Resource: arn:aws:s3:::nfllook-schedule-raw/*
    - Effect: Allow
      Action:
        - s3:PutObject
      Resource: arn:aws:s3:::nfllook-schedule-clean/*
    - Effect: Allow
      Action:
        - s3:GetObject
      Resource: arn:aws:s3:::nfllook-schedule-clean/*

functions:
  download:
    handler: download_handler.download
    events:
      - schedule: cron(0 12 ? * THU *)
    memorySize: 128
  clean:
    handler: clean_handler.clean
    events:
      - s3:
          bucket: nfllook-schedule-raw
          event: s3:ObjectCreated:*
    memorySize: 128
  export:
    handler: export_handler.export
    events:
      - s3:
          bucket: nfllook-schedule-clean
          event: s3:ObjectCreated:*
    memorySize: 128
